__pycache__/

/data/*
!/data/.gitkeep
/schnipsel/local_settings.py
/schnipsel/static/

/dist/
/schnipsel.egg-info/
/build/
/.pybuild/
/.tox/
/debian/*debhelper*
/debian/*.substvars
/debian/files
/debian/schnipsel

node_modules/
app/dist/
npm-debug.log*
