Source: schnipsel
Section: web
Priority: optional
Maintainer: Konrad Mohrfeldt <konrad.mohrfeldt@farbdev.org>
Build-Depends:
 debhelper (>= 9),
 dh-exec,
 dh-python,
 nodejs,
 npm,
 python3-all,
 python3-flake8,
 python3-setuptools,
 python3-django (>= 2.2),
 python3-djangorestframework,
 python3-django-reversion,
 python3-django-filters (>= 2.1.0),
Standards-Version: 4.5.0

Package: schnipsel
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 adduser,
 python3-django (>= 2.2),
 python3-djangorestframework,
 python3-django-reversion,
 python3-django-filters (>= 2.1.0),
 python3-djangorestframework,
Suggests:
 python3-django-auth-ldap (>= 2.0.0),
 uwsgi,
 uwsgi-plugin-python3,
 nginx,
Description: digital sticky note board
