#!/usr/bin/make -f

export PYBUILD_NAME=schnipsel
export PYBUILD_DISABLE=test

%:
	dh $@ --package=python3-schnipsel --with=python3 --buildsystem=pybuild
	dh $@ --package=schnipsel
	dh $@ --package=schnipsel-webapp

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install --package=python3-schnipsel --destdir=debian/python3-schnipsel
	if echo "$$DH_INTERNAL_OPTIONS" | sed 's/-O/\n/g' | grep -qF -- '--package=schnipsel-webapp'; then \
		$(MAKE) assets-install DESTDIR=$$(realpath debian/schnipsel-webapp); \
	fi
