@media (any-pointer: fine) {
  .is-accesskey {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - .05em);
      left: 0;
      right: 100%;
      width: 100%;
      border-bottom: 1px solid currentColor;
      opacity: .55;
    }
  }
}

.is-adder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > .button {
    width: 3em;
    height: 3em;
  }
}

.task {
  padding: .25em 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    margin-right: .5em;
  }
}

.content ul:first-child,
.content ol:first-child,
.content dl:first-child {
  margin-top: 0;
}

.updater {
  position: fixed;
  z-index: 20000;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  padding: 1.25rem 1.5rem;
  min-width: 400px;
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

  @media (max-width: 600px) {
    left: 1rem;
    right: 1rem;
    min-width: auto;
  }

  button {
    margin: 0 0 0 2rem !important;
  }
}
