@media (any-pointer: fine) {
  .is-accesskey {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - .05em);
      left: 0;
      right: 100%;
      width: 100%;
      border-bottom: 1px solid currentColor;
      opacity: .55;
    }
  }
}

.task {
  padding: .25em 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    margin-right: .5em;
  }
}

.content ul:first-child,
.content ol:first-child,
.content dl:first-child {
  margin-top: 0;
}
